{% extends 'base.html.twig' %}

{% block body %}
    <h1>Заказы</h1>
    {% if is_granted('ROLE_LIBRARIAN') and not is_granted('ROLE_ADMIN')%}
    <h3>{{library.name}}</h3>
    <a href="{{ path('app_report_status') }}" class="btn btn-outline-dark">Отчет о подтвержденных заказах</a>
    <a href="{{ path('app_report_status_bad') }}" class="btn btn-outline-dark">Отчет о неподтвержденных заказах</a>
    <a href="{{ path('app_report_days') }}" class="btn btn-outline-dark">Отчет о заказах за день</a>
    <a href="{{ path('app_report_week') }}" class="btn btn-outline-dark">Отчет о заказах за неделю</a>
    <a href="{{ path('app_report_month') }}" class="btn btn-outline-dark">Отчет о заказах за месяц</a>
    {% endif %}
    <table class="table">
        <thead>
            <tr>
            {% if is_granted('ROLE_LIBRARIAN') or is_granted('ROLE_ADMIN')%}
                <th>Заказчик</th>
                {% endif %}
                <th>Статус заказа</th>
                <th>Книга</th>
                <th>Дата создания/подтверждения</th>
            </tr>
        </thead>
        <tbody>
        {% for order in orders %}
            <tr>
            {% if is_granted('ROLE_LIBRARIAN') or is_granted('ROLE_ADMIN')%}
                <td>{{ users[order.id] }}</td>
                {% endif %}
                <td>
                   {% if order.status == 'confirmed'%}
                    Подтвержден
                    {% else %}
                    Ожидает подтверждения работником библиотеки 
                    {% endif %}
                    </td>
                <td> {{ books[order.id] }} </td>
                <td>{{ order.dateCreate ? order.dateCreate|date('Y-m-d') : '' }}
                <td>
                    <a href="{{ path('app_order_show', {'id': order.id}) }}" class="btn btn-outline-dark">Подробнее</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">У Вас пока нет заказов</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
